@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'ca-co';
    src: url('/fonts/ca-co.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, .text-f-vis{
    font-family: "ca-co";
    letter-spacing: 0.25em;
    line-height: 1.65;
    text-transform: uppercase;
}

.markdown-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}

